h1 {
    margin: $margen-chico 0px;
}

.padre-track { 
    @include flex-column-center;
    text-align: center;
    gap: $margen-chico;  
    .track  {
        img {
            width: $img-chica;
            transition: width 0.5s;    
        }
        & img:hover {
            width: $img-hover;
        }
    }
}


@media (min-width: $tablet) {
    .padre-track {
        @include grid-column-3-1fr-center;
    }
}

@media (min-width: $desktop) {
    
}